{% extends 'layout.html' %}
{% block content %}
{% load i18n %}
<h1 class="text-center mb-4">{% trans "Логін" %}</h1>
<form class="w-50 mx-auto p-4 border rounded shadow-sm bg-light" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}


    <div class="form-group mb-3">
        <label class="form-label">
            {{ form.username.label }}
        </label>
        {{ form.username }}
            {% if form.username.errors %}
                <div class="text-danger mt-1">
                    {{ form.username.errors }}
                </div>
            {% endif %}
    </div>

    <div class="form-group mb-3">
        <label class="form-label">
            {{ form.password.label }}
        </label>
        {{ form.password }}
            {% if form.password.errors %}
                <div class="text-danger mt-1">
                    {{ form.password.errors }}
                </div>
            {% endif %}
    </div>
    <button type="submit" class="btn btn-primary w-100">
        {% trans "Надіслати" %}
    </button>
    <div class="text-center">
        <a href="{% url 'users:password_reset' %}" class="text-muted">
            {% trans "Забули пароль?" %}
        </a>
    </div>
</form>
{% endblock %}
